@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);/* WordPlate */

.navigation ul {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 20px;
  background: #112E33;
  color: #FAF2F0;
}

.navigation-under {
  display: flex;
  align-items: center;
  position: absolute;
  background: #112E33;
  top: 0;
  z-index: -1;
  width: 100vw;
  height: 55px;
  color: #FAF2F0;
}

.navigation ul li a {
  color: #FAF2F0;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

.navigation ul li a:visited {
  color: #FAF2F0;
}

#responsive-menu {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#responsive-menu li {
  margin: 25px 0;
}

.contact-wrapper {
  margin-top: 20%;
  background: #FAF2F0;
  font-family: "Roboto", sans-serif;
}

.contact-main {
  margin: 20px;
}

.contact-heading {
  text-align: center;
}

.contact-paragraph {
  margin: 20px;
}

.collaborator {
  margin: 20px;
  text-align: center;
}

.collaborator-name {
  font-weight: bold;
}

.collaborator-title {
  font-weight: light;
  font-style: italic;
}

.other-actor {
  margin: 20px;
  text-align: center;
}

.other-actor-title {
  font-weight: bold;
}

.wp-block-ninja-forms-form {
  margin: 20px;
}

.nf-field-element ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-image {
  height: 380px;
  width: 100vw;
  background: salmon;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-wrapper {
  margin-top: 20%;
  background: #FAF2F0;
  font-family: "Roboto", sans-serif;
}

.info-back-arrow {
  color: black;
  text-decoration: none;
  margin: 20px;
}

.info-back-arrow a {
  color: black;
  text-decoration: none;
}

.info-back-arrow a:visited {
  color: black;
}

.info-main {
  margin: 20px;
}

.info-heading {
  margin: 20px;
}

.info-subheading {
  margin-left: 20px;
}

.info-paragraph {
  margin: 20px;
}

.info-image {
  margin: 0 20px 20px 20px;
  width: calc(100vw-40px);
  height: 200px;
  background: salmon;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: #112E33;
  height: 434px;
  bottom: 0;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer h4 {
  color: #E8680B;
  font-size: 24px;
}

footer p {
  color: white;
}

.contact-us {
  height: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.follow-us {
  height: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.follow-wrapper {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.follow-wrapper img {
  width: 36px;
  height: 36px;
}

.sponsor-us {
  height: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.sponsor-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.sponsor-wrapper img {
  width: 68px;
  height: 68px;
}

.event-cards {
  background-color: #36717B;
  margin: 10px;
  width: 320px;
  height: 341px;
}

.event-cards h3 {
  font-size: 18px;
  text-decoration: none;
}

.event-cards a {
  color: black;
  text-decoration: none;
}

.thumbnail {
  width: 320px;
  height: 151px;
}

.event-text {
  padding: 10px;
}

.single-post-wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.single-event {
  border: 1px solid black;
  width: 320px;
}

.single-event img {
  padding: 10px;
  width: 315px;
  height: 216px;
}

.single-event-text {
  padding: 5px;
}

.about-us {
  padding-left: 20px;
  padding-top: 20px;
}

.about-wrapper {
  margin: 20px;
}

.about-wrapper div {
  margin-bottom: 20px;
}

.about-wrapper div h3 {
  font-size: 20px;
  padding-bottom: 5px;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background: #FAF2F0;
}

