@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);@import url(https://fonts.googleapis.com/css?family=Lato&display=swap);@charset "UTF-8";

/* WordPlate */

.navigation ul {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 20px;
  background-image: url(/../../../themes/Gathenhielmska/assets/images/background/header.svg);
  color: #FAF2F0;
}

.navigation-under {
  display: flex;
  align-items: center;
  position: fixed;
  background-image: url(/../../../themes/Gathenhielmska/assets/images/background/header.svg);
  top: 0;
  z-index: 1;
  width: 100vw;
  height: 81px;
  color: #FAF2F0;
}

.navigation ul li a {
  color: #FAF2F0;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

.navigation ul li a:visited {
  color: #FAF2F0;
}

@media screen and (min-width: 1024px) {
  .navigation-under {
    display: none;
  }
}

#responsive-menu {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#responsive-menu li {
  margin: 25px 0;
}

.contact-wrapper {
  margin-top: 101px;
  background: #FAF2F0;
  font-family: "Roboto", sans-serif;
}

.contact-main {
  margin: 20px;
}

h3.contact-main {
  color: #E8680B;
}

.contact-gold {
  color: #E8680B;
  font-size: 36px;
  font-weight: bold;
}

.contact-heading {
  text-align: center;
  color: #E8680B;
}

.contact-heading-left {
  text-align: left;
  padding: 20px;
}

.contact-paragraph {
  padding: 0 20px;
  background: #36717B;
  color: #FAF2F0;
}

.contact-paragraph a {
  color: #EDC8BF;
  text-decoration: none;
}

.contact-paragraph a:visited {
  color: #EDC8BF;
}

.collaborator {
  margin: 20px;
  text-align: center;
}

.collaborator-name {
  font-weight: bold;
}

.collaborator-title {
  font-weight: light;
  font-style: italic;
}

.other-actor {
  margin: 20px;
  text-align: center;
}

.other-actor a {
  color: black;
  text-decoration: none;
}

.other-actor a:visited {
  color: black;
}

.nf-form-layout {
  background-image: url(/../../../themes/Gathenhielmska/assets/images/background/botten_v2.svg);
  color: #FAF2F0;
  z-index: -1;
}

.nf-form-layout a {
  color: #EDC8BF;
  text-decoration: none;
}

.nf-form-layout a:visited {
  color: #EDC8BF;
}

.nf-form-layout form {
  padding: 20px 20px 0 20px;
}

.nf-form-layout .nf-form-content .form-input {
  height: 27px;
}

.nf-form-layout .nf-form-content .description-input {
  height: 109px;
}

.nf-form-layout .submit-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  padding: 0 20px;
  align-items: center;
}

.nf-form-layout #nf-field-28-container {
  width: 40%;
  margin: 0;
}

.nf-form-layout #nf-field-17-container {
  margin: 0;
  width: 20%;
  padding-bottom: 40px;
}

.nf-form-layout #nf-field-17 {
  background: #E8680B;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  font-size: 18px;
}

.nf-field-element ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-image {
  height: 380px;
  width: 100vw;
  background-image: url(/../../../themes/Gathenhielmska/assets/images/background/blomma.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-heading-bg {
  text-align: left;
  padding: 40px 20px 20px 20px;
  background-image: url(/../../../themes/Gathenhielmska/assets/images/background/topp_v2.svg);
  margin-top: 40px;
}

@media screen and (min-width: 1024px) {
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }

  .contact-wrapper {
    width: calc(100% - 360px);
    margin: 32px 180px 0 180px;
  }

  .contact-wrapper .contact-heading {
    text-align: left;
  }

  .contact-wrapper .collaborator-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }

  .contact-wrapper .other-actor-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .contact-wrapper .contact-heading-bg {
    background: #36717B;
    margin-left: -180px;
    margin-right: -180px;
    padding-left: 180px;
  }

  .contact-wrapper .contact-paragraph {
    margin-left: -180px;
    margin-right: -180px;
    padding-left: 180px;
  }

  .contact-wrapper .nf-form-fields-required {
    padding-left: 135px;
  }

  .contact-wrapper .nf-form-layout {
    margin-left: -180px;
    margin-right: -180px;
    padding-left: 25px;
  }
}

.info-wrapper {
  margin-top: 20%;
  background: #FAF2F0;
  font-family: "Roboto", sans-serif;
}

.info-back-arrow {
  color: black;
  text-decoration: none;
  margin: 20px;
}

.info-back-arrow a {
  color: black;
  text-decoration: none;
}

.info-back-arrow a:visited {
  color: black;
}

h2.info-main {
  color: #E8680B;
}

.info-main {
  margin: 20px;
}

.info-heading {
  margin: 20px;
  color: #E8680B;
}

.info-subheading {
  margin-left: 20px;
}

.info-paragraph {
  margin: 20px;
}

.info-image {
  margin: 0 20px 20px 20px;
  width: calc(100vw-40px);
  height: 200px;
  background: salmon;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

.salongen {
  height: 200px;
  width: 320px;
  background-image: url(/../../../themes/Gathenhielmska/assets/images/images/Salongen.png);
  background-size: cover;
}

.italia {
  background-image: url(/../../../themes/Gathenhielmska/assets/images/images/Italiarummet.png);
  background-size: cover;
}

.kungasalen {
  background-image: url(/../../../themes/Gathenhielmska/assets/images/images/Kungasalen.png);
  background-size: cover;
}

.versailles {
  background-image: url(/../../../themes/Gathenhielmska/assets/images/images/VersaillesRummet.png);
  background-size: cover;
}

.galleriet {
  background-image: url(/../../../themes/Gathenhielmska/assets/images/images/Galleriet.png);
  background-size: cover;
}

.biografen {
  background-image: url(/../../../themes/Gathenhielmska/assets/images/images/Biografen.png);
  background-size: cover;
}

.tr채dg책rden {
  background-image: url(/../../../themes/Gathenhielmska/assets/images/images/Tr채dg책rden.png);
  background-size: cover;
}

.footer-wrapper {
  background-image: url(/../../../themes/Gathenhielmska/assets/images/background/footer_mobile.svg);
  background-size: cover;
  margin-top: 40px;
  height: 434px;
  bottom: 0;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-wrapper h4 {
  color: #E8680B;
  font-size: 24px;
}

.footer-wrapper p {
  color: white;
}

.contact-us {
  height: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.follow-us {
  height: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.follow-wrapper {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.follow-wrapper img {
  width: 36px;
  height: 36px;
}

.sponsor-us {
  height: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.sponsor-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.sponsor-wrapper img {
  width: 68px;
  height: 68px;
}

.event-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.event-cards {
  background-color: #12495F;
  color: white;
  margin: 10px;
  width: calc(100vw - 40px);
  height: 341px;
}

.event-cards h3 {
  font-size: 18px;
  text-decoration: none;
  color: white;
}

.event-cards p {
  color: white;
}

.event-cards a {
  color: black;
  text-decoration: none;
}

.thumbnail {
  width: calc(100vw - 40px);
  height: 151px;
}

.event-text {
  margin-top: 10px;
  padding: 10px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.event-text div {
  padding: 5px 0px 5px 0px;
}

.time-info {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.time-info div {
  display: flex;
}

.ticket-btn {
  width: 78px;
  height: 23px;
  color: white;
  background-color: #E8680B;
  border: none;
}

.entrance {
  width: 51px;
  height: 24px;
  background-color: #E8680B;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -40px;
  margin-left: 260px;
  color: white;
}

.ticket-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.navigation {
  display: flex;
  align-items: row;
  justify-content: space-between;
}

.navigation a {
  text-decoration: none;
  color: white;
}

.single-post-wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  justify-content: center;
  margin-top: 101px;
  padding-bottom: 40px;
}

.single-event {
  width: calc(100vw - 40px);
  background-color: #12495F;
}

.single-event img {
  padding: 10px;
  width: calc(100vw - 40px);
  height: 216px;
}

.single-event-text {
  padding: 10px;
  color: white;
}

.single-event-text div {
  padding: 5px 0px 5px 0px;
}

.upcoming {
  width: calc(100vw - 40px);
}

.upcoming h3 {
  color: #E8680B;
  margin-bottom: 5px;
}

.upcoming-title {
  margin-top: 3px;
}

.upcoming-wrapper {
  display: flex;
  justify-content: center;
}

.upcoming-event {
  display: flex;
  flex-direction: column;
  color: black;
  padding: 5px 0px 5px 0px;
}

.icon-event {
  display: flex;
}

.icon-event div {
  display: flex;
  margin: 0px 3px;
}

.icon-event img {
  margin-right: 10px;
}

.about-us {
  padding-left: 20px;
  padding-top: 20px;
}

.about-wrapper {
  margin: 20px;
}

.about-wrapper div {
  margin-bottom: 20px;
}

.about-wrapper div h3 {
  font-size: 20px;
  padding-bottom: 5px;
}

.history-wrapper {
  display: flex;
  flex-direction: row;
}

.history-line {
  border-left: 3px solid black;
  height: 614px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 10%;
}

.year-line {
  border-bottom: 3px solid black;
  width: 20px;
  margin-left: -10px;
}

.history-test {
  width: 90%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.year-text {
  display: flex;
  margin: 0;
  justify-content: space-evenly;
}

.year {
  font-size: 20px;
}

.info-text {
  font-size: 14px;
  width: 60%;
}

.news-container,
.single-news-wrapper {
  margin-top: 101px;
}

.news-container img,
.single-news-wrapper img {
  width: 320px;
  height: 185px;
  object-fit: cover;
}

.news-container .news-cards,
.single-news-wrapper .news-cards {
  height: 382px;
  width: calc(100vw - 40px);
  margin: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.news-container .news-thumbnail,
.single-news-wrapper .news-thumbnail {
  height: 210px;
  width: calc(100vw - 40px);
}

.news-container .news-content-container,
.single-news-wrapper .news-content-container {
  width: calc(100vw - 40px);
  height: 172px;
  background: #12495F;
  color: #FAF2F0;
  padding: 16px;
}

.news-container .news-short,
.single-news-wrapper .news-short {
  padding: 16px 0;
}

.news-container .read-more-container,
.single-news-wrapper .read-more-container {
  width: calc(100vw - 40px);
  display: flex;
  justify-content: flex-start;
}

.news-container .read-more-container .read-more,
.single-news-wrapper .read-more-container .read-more {
  text-decoration: none;
  color: black;
}

.news-container .read-more-container .read-more-btn,
.single-news-wrapper .read-more-container .read-more-btn {
  padding: 4px 8px;
  font-size: 13px;
  line-height: 16px;
  color: #FAF2F0;
  background: #E8680B;
  border: none;
}

.newsletter {
  background-image: url(/../../../themes/Gathenhielmska/assets/images/background/front-background.svg);
  background-size: cover;
  padding: 0 20px;
  height: 301px;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #FAF2F0;
}

.newsletter .tnp-subscription input[type=text],
.newsletter .tnp-subscription input[type=email],
.newsletter .tnp-subscription select {
  height: 32px;
  padding: 2px 10px;
}

.newsletter .tnp-subscription input[type=submit] {
  background: #E8680B;
  height: 24px;
  width: 59px;
  font-size: 13px;
  padding: 0;
  text-align: center;
  position: absolute;
  right: 20px;
}

.single-news-wrapper {
  margin-top: 101px;
}

.single-news-wrapper .single-news {
  display: flex;
  flex-direction: column;
}

.single-news-wrapper .single-news-container {
  margin: 0 20px 20px 20px;
}

.single-news-wrapper .news-content-container {
  height: auto;
  padding: 8px;
}

.single-news-wrapper .single-news-thumbnail {
  padding: 10px;
  width: 315px;
  height: 239px;
  object-fit: contain;
}

.single-news-wrapper .navigation {
  display: flex;
  width: calc(100vw-40px);
  align-items: center;
  justify-content: space-between;
}

.single-news-wrapper .single-news-cards {
  width: calc(100vw - 40px);
  margin: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.background-img {
  margin-top: 101px;
}

.text-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.front-text {
  color: #E8680B;
  width: 60%;
}

.background-img {
  margin-top: 15%;
  width: 100vw;
}

.wrapper-front {
  display: flex;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  flex-direction: row;
  overflow-x: scroll;
  justify-content: flex-start;
}

.card-front {
  scroll-snap-align: center;
}

.test {
  min-width: 95vw;
  display: flex;
  justify-content: center;
}

.front-background {
  width: 100%;
  height: 50%;
}

.second-text {
  color: white;
  margin-top: -50%;
  margin-bottom: 50%;
  padding-right: 20px;
  padding-left: 20px;
}

.news-front {
  margin-top: -50px;
  margin-bottom: -70px;
}

.thumbnail-category {
  width: 281px;
  height: 217px;
}

.category-wrapper {
  margin-top: 101px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-event-text {
  width: 100%;
}

.category-list {
  display: flex;
  margin-top: 101px;
  width: 100vw;
  justify-content: space-evenly;
}

.category-list p {
  color: black;
  text-decoration: none;
}

.category-list a {
  text-decoration: none;
}

.categories ul {
  display: flex;
  flex-direction: row;
  margin-top: 101px;
}

.categories ul li {
  text-decoration: none;
}

.category-container {
  margin-top: 101px;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html {
  background: #FAF2F0;
}

