@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);/* WordPlate */

.navigation ul {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 20px;
  background: salmon;
}

.navigation ul li a {
  color: black;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

.navigation ul li a:visited {
  color: black;
}

.single-event {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}

.event-cards {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.contact-wrapper {
  margin-top: 10%;
  font-family: "Roboto", sans-serif;
}

.contact-main {
  margin: 20px;
}

.contact-heading {
  text-align: center;
}

.collaborator {
  margin: 20px;
  text-align: center;
}

.collaborator-name {
  font-weight: bold;
}

.collaborator-title {
  font-weight: light;
  font-style: italic;
}

.other-actor {
  margin: 20px;
  text-align: center;
}

.other-actor-title {
  font-weight: bold;
}

