@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);/* WordPlate */

.navigation ul {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 20px;
  background: #112E33;
  color: #FAF2F0;
}

.navigation-under {
  display: flex;
  align-items: center;
  position: absolute;
  background: #112E33;
  top: 0;
  z-index: -1;
  width: 100vw;
  height: 55px;
  color: #FAF2F0;
}

.navigation ul li a {
  color: #FAF2F0;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

.navigation ul li a:visited {
  color: #FAF2F0;
}

#responsive-menu {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#responsive-menu li {
  margin: 25px 0;
}

.contact-wrapper {
  margin-top: 20%;
  background: #FAF2F0;
  font-family: "Roboto", sans-serif;
}

.contact-main {
  margin: 20px;
}

.contact-heading {
  text-align: center;
}

.contact-paragraph {
  padding: 0 20px;
  background: #36717B;
  color: #FAF2F0;
}

.collaborator {
  margin: 20px;
  text-align: center;
}

.collaborator-name {
  font-weight: bold;
}

.collaborator-title {
  font-weight: light;
  font-style: italic;
}

.other-actor {
  margin: 20px;
  text-align: center;
}

.other-actor-title {
  font-weight: bold;
}

.nf-form-layout {
  background-image: url(/../../../themes/Gathenhielmska/assets/images/background/botten_v2.svg);
  color: #FAF2F0;
}

.nf-form-layout form {
  padding: 20px 20px 0 20px;
}

.nf-form-layout .nf-form-content input.ninja-forms-field {
  height: 27px;
}

.nf-form-layout .nf-form-content textarea.ninja-forms-field {
  height: 109px;
}

.nf-form-layout .submit-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  padding: 0 20px;
  align-items: center;
}

.nf-form-layout #nf-field-28-container {
  width: 40%;
}

.nf-form-layout #nf-field-17-container {
  width: 20%;
}

.nf-form-layout #nf-field-17 {
  background: #E8680B;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  font-size: 18px;
  height: 35px;
}

.nf-field-element ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-image {
  height: 380px;
  width: 100vw;
  background: salmon;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-heading-bg {
  text-align: left;
  padding: 40px 20px 20px 20px;
  background-image: url(/../../../themes/Gathenhielmska/assets/images/background/topp_v2.svg);
}

.contact-gold {
  color: #E9E096;
}

.info-wrapper {
  margin-top: 20%;
  background: #FAF2F0;
  font-family: "Roboto", sans-serif;
}

.info-back-arrow {
  color: black;
  text-decoration: none;
  margin: 20px;
}

.info-back-arrow a {
  color: black;
  text-decoration: none;
}

.info-back-arrow a:visited {
  color: black;
}

.info-main {
  margin: 20px;
}

.info-heading {
  margin: 20px;
}

.info-subheading {
  margin-left: 20px;
}

.info-paragraph {
  margin: 20px;
}

.info-image {
  margin: 0 20px 20px 20px;
  width: calc(100vw-40px);
  height: 200px;
  background: salmon;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: #112E33;
  height: 434px;
  bottom: 0;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer h4 {
  color: #E8680B;
  font-size: 24px;
}

footer p {
  color: white;
}

.contact-us {
  height: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.follow-us {
  height: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.follow-wrapper {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.follow-wrapper img {
  width: 36px;
  height: 36px;
}

.sponsor-us {
  height: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.sponsor-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.sponsor-wrapper img {
  width: 68px;
  height: 68px;
}

.event-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.event-cards {
  background-color: #36717B;
  margin: 10px;
  width: 320px;
  height: 341px;
}

.event-cards h3 {
  font-size: 18px;
  text-decoration: none;
}

.event-cards a {
  color: black;
  text-decoration: none;
}

.thumbnail {
  width: 320px;
  height: 151px;
}

.event-text {
  padding: 10px;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.single-post-wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding-top: 60px;
  padding-bottom: 40px;
}

.single-event {
  border: 1px solid black;
  width: 320px;
}

.single-event img {
  padding: 10px;
  width: 315px;
  height: 216px;
}

.single-event-text {
  padding: 5px;
}

.ticket-btn {
  width: 78px;
  height: 23px;
  color: white;
  background-color: #E8680B;
  border: none;
}

.entrance {
  width: 84px;
  height: 23px;
  background-color: #E8680B;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
  margin-left: 180px;
  color: white;
}

.ticket-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 5px;
}

.about-us {
  padding-left: 20px;
  padding-top: 20px;
}

.about-wrapper {
  margin: 20px;
}

.about-wrapper div {
  margin-bottom: 20px;
}

.about-wrapper div h3 {
  font-size: 20px;
  padding-bottom: 5px;
}

.history-wrapper {
  display: flex;
  flex-direction: row;
}

.history-line {
  border-left: 3px solid black;
  height: 614px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 10%;
}

.year-line {
  border-bottom: 3px solid black;
  width: 20px;
  margin-left: -10px;
}

.history-test {
  width: 90%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.year-text {
  display: flex;
  margin: 0;
  justify-content: space-evenly;
}

.year {
  font-size: 20px;
}

.info-text {
  font-size: 14px;
  width: 60%;
}

.news-container {
  margin-top: 20%;
}

.news-container img {
  width: 320px;
  height: 185px;
  object-fit: cover;
}

.news-container .news-cards {
  width: calc(100vw - 40px);
  margin: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.news-container .read-more-container {
  width: calc(100vw - 40px);
  display: flex;
  justify-content: flex-end;
}

.news-container .read-more-container .read-more {
  text-decoration: none;
  color: black;
}

.single-news {
  margin-top: 10%;
}

.single-news .single-news-container {
  margin: 0 20px 20px 20px;
}

.single-news .single-news-thumbnail {
  padding: 10px;
  width: 315px;
  height: 239px;
  object-fit: contain;
}

.single-news .navigation {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
}

.text-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  margin-top: -70vh;
}

.front-text {
  color: #E8680B;
  width: 60%;
}

.background-img {
  margin-top: 15%;
}

.wrapper-front {
  display: flex;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  flex-direction: row;
  overflow-x: scroll;
  justify-content: start;
}

.card-front {
  scroll-snap-align: center;
}

.test {
  min-width: 100vw;
  display: flex;
  justify-content: center;
}

.thumbnail-category {
  width: 281px;
  height: 217px;
}

.category-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-event-text {
  width: 100%;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background: #FAF2F0;
}

