@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);/* WordPlate */

.navigation ul {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 20px;
  background: #112E33;
  color: #FAF2F0;
}

.navigation-under {
  display: flex;
  align-items: center;
  position: absolute;
  background: #112E33;
  top: 0;
  z-index: -1;
  width: 100vw;
  height: 55px;
  color: #FAF2F0;
}

.navigation ul li a {
  color: #FAF2F0;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

.navigation ul li a:visited {
  color: #FAF2F0;
}

.contact-wrapper {
  margin-top: 20%;
  background: #FAF2F0;
  font-family: "Roboto", sans-serif;
}

.contact-main {
  margin: 20px;
}

.contact-heading {
  text-align: center;
}

.contact-paragraph {
  text-align: center;
  margin: 20px 20px 20px 0;
}

.collaborator {
  margin: 20px;
  text-align: center;
}

.collaborator-name {
  font-weight: bold;
}

.collaborator-title {
  font-weight: light;
  font-style: italic;
}

.other-actor {
  margin: 20px;
  text-align: center;
}

.other-actor-title {
  font-weight: bold;
}

.wp-block-ninja-forms-form {
  margin: 20px;
}

.nf-field-element ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.event-cards {
  background-color: #EDC8BF;
  margin: 10px;
  width: 320px;
  height: 341px;
}

.event-cards h3 {
  font-size: 18px;
  text-decoration: none;
}

.event-cards a {
  color: black;
  text-decoration: none;
}

.thumbnail {
  width: 320px;
  height: 151px;
}

.event-text {
  padding: 10px;
}

.single-post-wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.single-event {
  border: 1px solid black;
  width: 320px;
}

.single-event img {
  padding: 10px;
  width: 315px;
  height: 216px;
}

.single-event-text {
  padding: 5px;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background: #FAF2F0;
}

