.about-us{
padding-left: 20px;
padding-top:20px;
}

.about-wrapper {
    margin: 20px;
    div{
        margin-bottom: 20px;
        h3 {
            font-size: 20px;
            padding-bottom: 5px;
        }
    }
}