.timeline{
    display:none
}
.about-wrapper {

    margin-top: 101px;
    padding-right: 16px;
    padding-left: 16px;

    .about-us{
        margin-bottom: 16px;
        color: $dark-orange;
        font-size: 36px;
    }
    div{
        margin-bottom: 20px;
    }
    h3 {
        font-size: 20px;
        margin-bottom: 16px;
        color: $dark-orange;
    }
}

.history-wrapper{
    display: flex;
    flex-direction: row;
}

.history-line {
    border-left: 3px solid $pink;
    height: 614px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 10%;
}

.year-line {
    border-bottom: 3px solid $pink;
    width: 20px;
    margin-left:-3px;

}

.history-container {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: -20px;
}

.year-text {
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: space-evenly;

   p {
    font-family: Lato;
   }
}

.year {
    font-size: 18px;
}

.info-text {
    font-size: 14px;
    width: 75%;
}


@media screen and (min-width: 1024px) {
    .timeline{
        display:block;
    }
    .history-wrapper{
        display:none;
    }

    .history-container {
        display: none;
    }

    .about-wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0 300px;
    }
 }
