
.about-wrapper {

    margin-top: 101px;
    padding-right: 16px;
    padding-left: 16px;
    .about-us{
        margin-bottom: 16px;
        color: $light-orange;
    }
    div{
        margin-bottom: 20px;
    }
    h3 {
        font-size: 20px;
        margin-bottom: 16px;
        color: $light-orange;
    }
}

.history-wrapper{
    display: flex;
    flex-direction: row;
}

.history-line {
    border-left: 3px solid $pink;
    height: 614px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 10%;
}

.year-line {
    border-bottom: 3px solid $pink;
    width: 20px;
    margin-left:-3px;

}
.history-test {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: -20px;
}

.year-text {
    display: flex;
    margin: 0;
align-items: center;
    justify-content: space-evenly;
   p{
    font-family: Lato;
   }
}

.year {
    font-size: 18px;
}

.info-text {
    font-size: 14px;
    width: 75%;
}

