.thumbnail-category{
    width: 281px;
    height: 217px;
}

.category-wrapper{
    margin-top: 101px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.category-event-text{
    width: 100%;
}


.category-list{
    display: flex;
    margin-top: 101px;
   width: 100vw;
    justify-content: space-evenly;

    
    p {
        color: black;
        text-decoration: none;
        font-size: 10px;
        text-align: center;
    }
    a{
        text-decoration: none;
    }
}

.categories ul{
    display: flex;
    flex-direction: row;
    margin-top: 101px;
    li {
      text-decoration: none;
    }
  }
  .category-container{
    margin-top: 101px;
  }

  @media screen and (min-width: 1024px) { 
      .category-list{
          width: 40%;
      }
  }