
.contact-wrapper {
  margin-top: 101px;
  background: $white;
  font-family: 'Lato', sans-serif;
}

.contact-main {
  margin: 20px;
}

h2.contact-main {
  font-size: 36px;
  font-weight: bold;
  color: $light-orange
}

h3.contact-main {
  color: $light-orange;
}

.form-desktop {
  display: none;
}

.contact-gold {
  color: $gold;
  font-size: 36px;
  font-weight: bold;
}

.contact-heading {
  text-align: center;
  color: $light-orange;
}

.contact-heading-left {
  text-align: left;
  padding: 20px;
}

.contact-paragraph {
  padding: 0 20px;
  background: $greenBlue;
  color: $white;

  a {
    color: $pink;
    text-decoration: none;
  }

  a:visited {
    color: $pink;
  }

}

.collaborator {
  margin: 20px;
  text-align: center;

  &-name {
    font-weight: bold;
  }

  &-title {
    font-weight: light;
    font-style: italic;
  }
}

.other-actor {
  margin: 20px;
  text-align: center;

  a {
    color: black;
    font-family: 'minion pro';
    text-decoration: none;
  }

  a:visited {
    color: black;
  }
}

.nf-form-content label {
  font-family: 'Minion Pro' !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 16px !important;
  line-height: 19px !important;
}

.nf-form-layout {
  background-image: url(/../../../themes/Gathenhielmska/assets/images/background/botten_v2.svg);
  color: $white;
  z-index: -1;

  a {
    color: $pink;
    text-decoration: none;
  }

  a:visited {
    color: $pink;
  }

  form {
    padding: 20px 20px 0 20px;
  }

  .ninja-forms-req-symbol {
    color: $white;
  }

  .nf-form-content .form-input {
    height: 27px;
  }

  .nf-form-content .description-input {
    height: 109px;
  }

  .submit-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    padding: 0 20px;
    align-items: center;
  }
//Andreas 28 Mikaela 23
  #nf-field-28-container {
    width: 40%;
    margin: 0;
  }
//a 17 m 24
  #nf-field-17-container {
    margin: 0;
    width: 20%;
    padding-bottom: 40px;
  }
//a 17 m 24
  #nf-field-17 {
    background: $gold;
    color: $blueGat;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    font-size: 18px;
  }



}

.nf-field-element ul{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-image {
  height: 380px;
  width: 100vw;
  background-image: url(/../../../themes/Gathenhielmska/assets/images/background/blomma.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-heading-bg {
  text-align: left;
  padding: 40px 20px 20px 20px;
  background-image: url(/../../../themes/Gathenhielmska/assets/images/background/topp_v2.svg);
  margin-top: 40px;
}

@media screen and (min-width: 1024px) {

  body {
    max-width: 100vw;
    overflow-x: hidden;

  }
  .contact-wrapper {
    width: 100vw;
    margin-top: 0;

    h2.contact-main {
      padding-left: 180px;
      margin: 0;
      margin-top: 32px;
    }

    p.contact-main {
      width: 734px;
      font-family: 'Minion Pro';
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;

      a {
        font-family: 'Minion Pro';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: $blue;
      }
    }

    h3.contact-main, .contact-heading {
      font-family: Lato;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
    }

    h3.contact-main, p.contact-main {
      margin: 0;
      margin-top: 16px;
      padding-left: 180px;
    }

    .contact-heading {
      text-align: left;
      padding: 32px 180px 16px 180px;
    }

    .form-mobile {
      display: none;
    }

    .form-desktop {
      display: block;
    }

    .collaborator-wrapper {
      width: 100vw;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      padding-left: 80px;

      .collaborator {
        height: 94px;
        margin: 0 100px;
      }
    }

    .other-actor-wrapper {
      width: 100vw;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      padding-left: 80px;

      .other-actor {
        margin: 20px 96px;
        a {
          margin-top: 9px;
          font-size: 18px;
        }
      }

      .other-actor:nth-child(4) {
        margin: 20px 100px 20px 60px;
        width: 300px;
      }
    }

    .contact-heading-bg {
      background: $greenBlue;
      width: 100vw;
      margin: 0;
      padding-left: 180px;
    }

    .contact-paragraph {
      margin: 0;
      padding-left: 180px;
      font-family: 'Minion Pro';
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;

      a {
        font-family: Minion Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: $gold;
      }
    }

    .nf-form-fields-required {
      padding-left: 135px;
      font-family: 'Minion Pro';
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
    }

    #nf-label-field-44,
    #nf-label-field-45,
    #nf-label-field-46,
    #nf-label-field-48,
    #nf-label-field-49,
    #nf-label-field-50,
    #nf-label-class-field-50-0,
    #nf-label-class-field-50-1,
    #nf-label-field-51,
    #nf-label-field-51-0,
    #nf-label-field-51-1,
    #nf-label-field-51-2,
    #nf-label-field-51-3,
    #nf-label-field-51-4,
    #nf-label-field-51-5,
    #nf-label-field-51-6,
    #nf-label-field-53 {
      font-family: 'Minion Pro';
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
    }

    #nf-label-field-53::before {
      height: 11px;
      width: 11px;
    }

    .submit-container {
      justify-content: flex-start;
      padding: 0;
    }

    .nf-form-layout {
      padding-left: 25px;
    }

    .nf-field-element {
      margin: 0;
    }

    .nf-field-element ul{

      display: flex;

      li {
        margin: 0 16px !important;
      }

      li:nth-child(1) {
        margin: 0 0 !important;
      }
    }

    #nf-field-46 {
        width: 859px;
        height: 146px;
    }

    .nf-form-content {
      margin: 0;
      padding-left: 135px;
    }

    .nf-form-content .form-input {
      width: 420px;
      height: 27px;
      font-family: 'minion pro';
    }

    .contact-image {
      display: none;
    }
  }
}

//  Georgia, serif

