
.contact-wrapper {
  margin-top: 20%;
  background: $white;
  font-family: 'Roboto', sans-serif;
}

.contact-main {
  margin: 20px;
}

.contact-heading {
  text-align: center;
}

.contact-paragraph {
  margin: 20px;
}

.collaborator {
  margin: 20px;
  text-align: center;

  &-name {
    font-weight: bold;
  }

  &-title {
    font-weight: light;
    font-style: italic;
  }
}

.other-actor {
  margin: 20px;
  text-align: center;

  &-title {
    font-weight: bold;
  }
}

.wp-block-ninja-forms-form {
  margin: 20px;
}

.nf-field-element ul{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-image {
  height: 380px;
  width: 100vw;
  background: salmon;
  display: flex;
  justify-content: center;
  align-items: center;
}
