
.contact-wrapper {
  margin-top: 101px;
  background: $white;
  font-family: 'Lato', sans-serif;
}

.contact-main {
  margin: 20px;
}

h2.contact-main {
  font-size: 36px;
  font-weight: bold;
  color: #E8680B;
}

h3.contact-main {
  color: $light-orange;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

.form-desktop {
  display: none;
}

.contact-gold {
  color: $gold;
  font-size: 36px;
  font-weight: bold;
}

.contact-heading {
  text-align: center;
  color: $light-orange;
}

.contact-heading-left {
  text-align: left;
  padding: 20px;
}

.contact-paragraph {
  padding: 0 20px;
  background: $greenBlue;
  color: $white;

  a {
    @include Georgia;
    color: $gold;
    text-decoration: none;
  }

  a:visited {
    color: $gold;
  }

}

.collaborator {
  margin: 20px;
  text-align: center;

  &-name {
    font-weight: bold;
  }

  &-title {
    font-weight: light;
    font-style: italic;
  }
}

.other-actor {
  margin: 20px;
  text-align: center;

  a {
    @include Georgia;
    color: black;
    text-decoration: none;
  }

  a:visited {
    color: black;
  }
}

.nf-form-content label {
  font-family: Georgia, serif !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 16px !important;
  line-height: 130% !important;
  letter-spacing: 0.02em !important;
}

.nf-form-layout {
  background-image: url(/../../../themes/Gathenhielmska/assets/images/background/botten_v2.svg);
  color: $white;
  z-index: -1;

  a {
    color: $gold;
    text-decoration: none;
  }

  a:visited {
    color: $gold;
  }

  form {
    padding: 20px 20px 0 20px;
  }

  .ninja-forms-req-symbol {
    color: $white;
  }

  .nf-form-content .form-input {
    height: 27px;
  }

  .nf-form-content .description-input {
    height: 109px;
  }

  .submit-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    padding: 0 20px;
    align-items: center;
  }
//Andreas 28 Mikaela 23
  #nf-field-28-container {
    width: 40%;
    margin: 0;
  }
//a 17 m 24
  #nf-field-17-container {
    margin: 0;
    width: 20%;
    padding-bottom: 54px;
  }
//a 17 m 24
  #nf-field-17 {
    background: $gold;
    color: $blueGat;
    display: flex;
    align-items: center;
  }

}

.nf-field-element ul{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-image {
  height: 380px;
  width: 100vw;
  background-image: url(/../../../themes/Gathenhielmska/assets/images/background/blomma.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-heading-bg {
  text-align: left;
  padding: 40px 20px 20px 20px;
  background-image: url(/../../../themes/Gathenhielmska/assets/images/background/topp_v2.svg);
  margin-top: 40px;
}

@media screen and (min-width: 1024px) {

  body {
    max-width: 100vw;
    overflow-x: hidden;

  }
  .contact-wrapper {
    width: 100vw;
    margin-top: 133px;

    h2.contact-main {
      color: $dark-orange;
      padding-left: 180px;
      margin: 0;
      margin-top: 32px;
      font-weight: bold;
      font-size: 36px;
      line-height: 43px;
    }

    p.contact-main {
      width: 734px;

      a {
        color: $blue;
      }
    }

    h3.contact-main, .contact-heading {
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
      color: $dark-orange;
    }

    h3.contact-main, p.contact-main {
      margin: 0;
      margin-top: 16px;
      padding-left: 180px;
    }

    .contact-heading {
      text-align: left;
      padding: 32px 180px 16px 180px;
    }

    .form-mobile {
      display: none;
    }

    .form-desktop {
      display: block;
    }

    .collaborator-wrapper {
      width: 100vw;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      padding-left: 80px;

      .collaborator {
        text-align: left;
        height: 94px;
        margin: 0 80px;
      }

      .collaborator:nth-child(1) {
        margin-left: 100px;
      }
    }

    .other-actor-wrapper {
      width: 100vw;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      padding-left: 80px;

      .other-actor {
        margin: 20px 96px;
        text-align: left;
        a {
          margin-top: 9px;
          font-size: 18px;
        }
      }

      .other-actor:nth-child(4) {
        width: 280px;
      }

      // .other-actor:nth-child(5) {
      //   margin-left: 60px;
      // }
    }

    .contact-heading-bg {
      background: $greenBlue;
      width: 100vw;
      margin: 0;
      padding-left: 180px;
    }

    .contact-paragraph {
      margin: 0;
      padding-left: 180px;
      font-family: 'Minion Pro';
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;

      a {
        font-family: Minion Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: $gold;
      }
    }

    .nf-form-fields-required {
      padding-left: 135px;
    }

    .submit-container {
      justify-content: flex-start;
      padding: 0;
    }

    #nf-field-47 {
      background: $gold;
      color: $blueGat;
    }

    .nf-form-layout {
      padding-left: 25px;
    }

    .nf-field-element {
      margin: 0;
    }

    .nf-field-element ul{

      display: flex;

      li {
        margin: 0 16px !important;
      }

      li:nth-child(1) {
        margin: 0 0 !important;
      }
    }

    #nf-field-46 {
        width: 859px;
        height: 146px;
    }

    .nf-form-content {
      margin: 0;
      padding-left: 135px;
    }

    .nf-form-content .form-input {
      width: 420px;
      height: 27px;
      font-family: 'minion pro';
    }

    .contact-image {
      display: none;
    }
  }
}

//  Georgia, serif

