
.contact-wrapper {
  margin-top: 101px;
  background: $white;
  font-family: 'Roboto', sans-serif;
}

.contact-main {
  margin: 20px;
}

h3.contact-main {
  color: $orange;
}

.contact-gold {
  color: $orange;
  font-size: 36px;
  font-weight: bold;
}

.contact-heading {
  text-align: center;
  color: $orange;
}

.contact-heading-left {
  text-align: left;
  padding: 20px;
}

.contact-paragraph {
  padding: 0 20px;
  background: $green;
  color: $white;

  a {
    color: $pink;
    text-decoration: none;
  }

  a:visited {
    color: $pink;
  }

}

.collaborator {
  margin: 20px;
  text-align: center;

  &-name {
    font-weight: bold;
  }

  &-title {
    font-weight: light;
    font-style: italic;
  }
}

.other-actor {
  margin: 20px;
  text-align: center;

  a {
    color: black;
    text-decoration: none;
  }

  a:visited {
    color: black;
  }
}

.nf-form-layout {
  background-image: url(/../../../themes/Gathenhielmska/assets/images/background/botten_v2.svg);
  color: $white;
  z-index: -1;

  a {
    color: $pink;
    text-decoration: none;
  }

  a:visited {
    color: $pink;
  }

  form {
    padding: 20px 20px 0 20px;
  }

  .nf-form-content .form-input {
    height: 27px;
  }

  .nf-form-content .description-input {
    height: 109px;
  }

  .submit-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    padding: 0 20px;
    align-items: center;
  }
//Andreas 28 Mikaela 23
  #nf-field-28-container {
    width: 40%;
    margin: 0;
  }
//a 17 m 24
  #nf-field-17-container {
    margin: 0;
    width: 20%;
    padding-bottom: 40px;
  }
//a 17 m 24
  #nf-field-17 {
    background: $orange;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    font-size: 18px;
  }

}

.nf-field-element ul{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-image {
  height: 380px;
  width: 100vw;
  background-image: url(/../../../themes/Gathenhielmska/assets/images/background/blomma.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-heading-bg {
  text-align: left;
  padding: 40px 20px 20px 20px;
  background-image: url(/../../../themes/Gathenhielmska/assets/images/background/topp_v2.svg);
  margin-top: 40px;
}

@media screen and (min-width: 1024px) {

  body {
    max-width: 100vw;
    overflow-x: hidden;

  }
  .contact-wrapper {
    width: calc(100% - 360px);
    margin: 32px 180px 0 180px;

    .contact-heading {
      text-align: left;
    }

    .collaborator-wrapper {
      display: flex;
      width: 100%;
      justify-content: space-evenly;
    }

    .other-actor-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }

    .contact-heading-bg {
      background: $green;
      margin-left: -180px;
      margin-right: -180px;
      padding-left: 180px;
    }

    .contact-paragraph {
      margin-left: -180px;
      margin-right: -180px;
      padding-left: 180px;
    }

    .nf-form-fields-required {
      padding-left: 135px;
    }

    .nf-form-layout {
      margin-left: -180px;
      margin-right: -180px;
      padding-left: 25px;
    }
  }
}

