@import "./../project/variables";
.btn-category-wrapper{
  margin-top: 101px;

}
.event-btn {
  width: 112px;
  height: 30px;
  background-color: $dark-orange;
  color: $white;
  border: none;
  font-size: 18px;
  margin-left: 16px;
}

.archive-btn {
  border: 1px solid $dark-orange;
  width: 62px;
  height: 30px;
  background-color: $white;
  color: $light-orange;
  font-size: 18px;
  margin-right: 16px;
}

.buttons {
  margin-top: 101px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;

}
.event-container{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
a{
  text-decoration: none;
}
.event-cards {
  background-color: $blue;
  color: white;
    margin: 10px;
    width: calc(100vw - 40px);
  height: 360px;
  h3 {
    font-size: 18px;
    text-decoration: none;
    color: white;
  }
  p{
    color: white;
  }
  a {
    color: black;
    
  }
}

.thumbnail {
  width: calc(100vw - 40px);
  height: 151px;

}
.event-text {
  margin-top: 10px;
  padding: 15px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  h3{
    font-weight: 500;
    margin-bottom: 8px;
  }
  p{
    margin-bottom: 8px;
  }


}
.date-text{
  font-size: 14px;
  font-family: Lato;
  font-weight: 300;
}

.time-info{
  display: flex;
justify-content: space-between;
width: 80%;
  div {
    display: flex;
  }
}

.ticket-btn{
  width:92px;
  height: 33px;
  color: white;
  background-color: $light-orange;
  border: none;
  color: $blueGat;
}

.entrance{
  height: 24px;
  width: 100px;
  background-color: $light-orange;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -40px;
  margin-left: 220px;
  color: $blueGat !important;
  font-weight: 500;
  font-family: 'Lato', sans-serif;

}
.entrance-text{
  font-family: 'Lato', sans-serif;
  font-weight: 300 !important;

}

.ticket-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  button{
    font-size: 13px;
  }
  
}

.navigation {
 display: flex;
 align-items: row;
 justify-content: space-between;
 a {
   text-decoration: none;
   color: white;
 }
}

.cat-icon{
  width: 36px;
  height: 36px;
}

@media screen and (min-width: 1024px) { 

  .event-cards {
    width: 310px;
    height: 350px;
  }
  .thumbnail{
    width: 310px;
    height: 151px;
  }

  .event-container{
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

.btn-category-wrapper{
  margin-top:-40px;
  display: flex;
  width: 50%;
  align-items: flex-end;
}
.buttons{
 justify-content: start;
}
.event-btn{
  margin-left: 150px;
  margin-right: 50px;
}

.category-list{

 a {
   margin-left: 10px;
 }
}
}