.front-background-desktop{
    display:none;
}
.background-mobile  {
  width: 100%;
}

.background-desktop{
    display:none;
}
.text-wrapper {
    display: flex;
   align-items: center;
   justify-content: center;
    height: 70vh;
    margin-top: -82vh;
    margin-bottom: 110px;

    h4 {
        color: white;
        font-size: 30px;
        font-weight: normal;
        width: 100px;
        position: relative;
        text-align: center;
    }
}

.news-content-container-front {
  display: flex;
  flex-direction: column;
}

.read-more-container-front {
  margin-top: auto;
}

.front-text{
   font-size: 24px;
    width: 60%;
}

.background-img{
    margin-top: 15%;
    width: 100vw;
}

.wrapper-front{
    display: flex;
    scroll-snap-type: x mandatory;
    flex-direction: row;
    overflow-x: scroll;
    justify-content: flex-start;
}


.card-front {
    scroll-snap-align: center;
}

.test {
 min-width: 95vw;
 display: flex;
 justify-content: center;
}

.front-background{
    margin-top: 20px;
    width: 100%;
    height: 50%;
}

.second-text {
    color: white;
    margin-top: -50%;
    margin-bottom: 50%;
    padding-right: 20px;
    padding-left: 20px;
    p{
        font-family: Lato;
    }
}

.news-front{
    margin-top: -70px;
    margin-bottom: -90px;

}

.title{
    margin-left: 10px;
    color: $dark-orange;
    font-size: 24px;
}
.upcoming-h3{
    margin-bottom: -80px;
    
}

.news-time {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 14px;
}

@media screen and (min-width: 600px) {

    .background-mobile  {
        display:none
      }

      .background-desktop{
          display:block;
         width: 100%;
         margin-top: -20px;


      }
}

@media screen and (min-width: 1024px) {
    .upcoming-h3{
        margin-bottom: -80px;
        padding: 0 110px;
    }
    .text-wrapper{
        display:flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
    }

    .second-text{
        width: 300px;
        margin-top: -14%;
        margin-bottom: 10%;
        margin-left: 300px;
        text-align: center;
    }
    .wrapper-front{
        flex-wrap: nowrap;
        padding-bottom: 32px;

    }
    .test{
        min-width: 20vw;
        margin-left: 40px;
    }

    .front-background{
        height: 280px;
        width: 1000px;
    }
    .front-background{
        display:none;
    }
    .front-background-desktop{
        display:block;
        width: 100vw;
    }

    .news-front{
      margin-top: 0px;
      margin-bottom: 20px;
      width: 100vw;
      padding: 0 120px;

  }

    .news-container-front {
      width: 100vw;
      margin-top: 20px;
      padding: 0 70px;

      .news-cards-front {
        width: 420px;
        height: 527px;
      }

      .news-thumbnail-front {
        width: inherit;
      }

      .news-content-container-front {
        width: inherit;
        height: 273px;
      }

      .read-more-container-front {
        width: inherit;
        position: static;
        bottom: 10px;
      }
    }
 }
