.background-img {
  margin-top: 101px;
}

.text-wrapper {
    display: flex;
   align-items: center;
   justify-content: center;
    height: 70vh;
    // margin-top: -70vh;
}

.front-text{
    color: $orange;
    width: 60%;
}

.background-img{
    margin-top: 15%;
    width: 100vw;
}

.wrapper-front{
    display: flex;
    scroll-snap-type: x mandatory;
    flex-direction: row;
    overflow-x: scroll;
    justify-content: flex-start;
}

.card-front {
    scroll-snap-align: center;
}

.test {
 min-width: 95vw;
 display: flex;
 justify-content: center;
}

.front-background{
    width: 100%;
    height: 50%;
}

.second-text {
    color: white;
    margin-top: -50%;
    margin-bottom: 50%;
padding-right: 20px;
padding-left: 20px;
}

.news-front{
    margin-top: -50px;
    margin-bottom: -70px;
}