.arrow-back-info{

  padding-left: 20px;
}
.info-wrapper {
  margin-top: 32px;
  background: $white;
  font-family: 'Roboto', sans-serif;
}

.info-back-arrow {
  color: black;
  text-decoration: none;
  margin: 20px;

  a {
    color: black;
    text-decoration: none;
  }

  a:visited {
    color: black;
  }
}

h2.info-main {
  color: $dark-orange;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}

.info-main {
  margin: 20px;

  a {
    @include Georgia;
    color: $blue;
  }
}

.info-heading {
  margin: 20px;
  color: $dark-orange;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

.info-subheading {
  margin-left: 20px;
  font-family: Georgia, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
}

.info-paragraph {
  margin: 20px;

  a {
    @include Georgia;
    color: $blue;
  }
}

.info-image {
  margin: 0 20px 20px 20px;
  width: calc(100vw-40px);
  height: 200px;
  background: salmon;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

.salongen {
  height: 200px;
  width: 320px;
  background-image: url(/../../../themes/Gathenhielmska/assets/images/images/Salongen.png);
  background-size: cover;
}

.italia {
  height: 200px;
  width: 320px;
  background-image: url(/../../../themes/Gathenhielmska/assets/images/images/Italiarummet.png);
  background-size: cover;
}

.kungasalen {
  height: 200px;
  width: 320px;
  background-image: url(/../../../themes/Gathenhielmska/assets/images/images/Kungasalen.png);
  background-size: cover;
}

.versailles {
  height: 200px;
  width: 320px;
  background-image: url(/../../../themes/Gathenhielmska/assets/images/images/VersaillesRummet.png);
  background-size: cover;
}

.galleriet {
  height: 200px;
  width: 320px;
  background-image: url(/../../../themes/Gathenhielmska/assets/images/images/Galleriet.png);
  background-size: cover;
}

.biografen {
  height: 200px;
  width: 320px;
  background-image: url(/../../../themes/Gathenhielmska/assets/images/images/Biografen.png);
  background-size: cover;
}

.trädgården {
  height: 200px;
  width: 320px;
  background-image: url(/../../../themes/Gathenhielmska/assets/images/images/Trädgården.png);
  background-size: cover;
}

@media screen and (min-width: 1024px) {

  .info-wrapper {
    margin-top: 133px;
    padding: 0 70px;
  }

  h2.info-main {
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
  }

  p.info-main {
    width: 529px;
    margin: 0 16px;
  }

  h3.info-heading {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
  }

  .info-subheading {
    margin-left: 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

  .room-wrapper {
    min-width: 100vw;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .inner-room-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;

    img {
      margin-top: 20px;
    }
  }

  .info-salongen {
    grid-column-start: 1;
    grid-row-start: 1;
  }

  .info-italia {
    grid-column-start: 2;
    grid-row-start: 1;
  }

  .info-kungasalen {
    grid-column-start: 3;
    grid-row-start: 1;
  }

  .info-versailles {
    grid-column-start: 1;
    grid-row-start: 2;
  }

  .info-galleriet {
    grid-column-start: 2;
    grid-row-start: 2;
  }

  .info-subheading {
    padding-top: 16px;
  }

  .info-paragraph {
    margin: 0;
    width: 420px;
    padding: 16px 0;
    margin-left: 20px;
  }

  .info-trädgården {
    grid-column-start: 3;
    grid-row-start: 2;
  }

  .salongen, .italia, .kungasalen, .versailles, .biografen, .galleriet, .trädgården {
    width: 420px;
    height: 300px;
  }

}
