.navigation ul {
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 20px;
    background-image: url(/../../../themes/Gathenhielmska/assets/images/background/header.svg);
    color: $white
  }

  .navigation-under {
    display: flex;
    align-items: center;
    position: fixed;
    background-image: url(/../../../themes/Gathenhielmska/assets/images/background/header.svg);
    top: 0;
    z-index: 1;
    min-width: 100vw;
    height: 81px;
    color: $white;

    .logo {
      padding-left: 28px;
    }
  }

  .navigation ul li a{
    color: $white;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
  }

  .navigation ul li a:visited {
    color: $white;
  }

  @media screen and (min-width: 376px) {
    .navigation-under {
      display: flex;
      align-items: center;
      height: 100px;
      background-image: url(/../../../themes/Gathenhielmska/assets/images/background/header_desktop.svg);
    }

    button#responsive-menu-button {
      margin-top: 15px !important;
    }
  }

  @media screen and (min-width: 1024px) {
      .navigation-under {
        display: none;
      }

      .navigation {
        height: 100px;
        display: flex;
        align-items: center;
        background-image: url(/../../../themes/Gathenhielmska/assets/images/background/header_desktop_v2.svg);
        position: absolute;
        justify-content: space-between;
        top: 0;
        }

        #menu-item-196 {
          display: none;
        }

        .logo {
          padding-left: 20px;
        }
        .navigation ul {
          justify-content: flex-end;
          padding-right: 15%;
        }

        .navigation ul li {
          margin: 0 60px;
        }

        .navigation ul li:nth-child(5) {
          margin: 0 43px;
        }

      .navigation ul li a{
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        width: 50%;

        &[aria-current="page"] {
          color: $gold;
        }
      }
  }
