.navigation ul {
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 20px;
    background: $darkBlue;
    color: $white
  }

  .navigation-under {
    display: flex;
    align-items: center;
    position: absolute;
    background: $darkBlue;
    top: 0;
    z-index: -1;
    width: 100vw;
    height: 55px;
    color: $white;
  }

  .navigation ul li a{
    color: $white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
  }

  .navigation ul li a:visited {
    color: $white;
  }
