.navigation ul {
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 20px;
    background-image: url(/../../../themes/Gathenhielmska/assets/images/background/header.svg);
    color: $white
  }

  .navigation-under {
    display: flex;
    align-items: center;
    position: fixed;
    background-image: url(/../../../themes/Gathenhielmska/assets/images/background/header.svg);
    top: 0;
    z-index: 1;
    min-width: 100vw;
    height: 81px;
    color: $white;
  }

  .navigation ul li a{
    color: $white;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
  }

  .navigation ul li a:visited {
    color: $white;
  }

  @media screen and (min-width: 376px) {
    .navigation-under {
      display: flex;
      align-items: center;
      height: 100px;
      background-image: url(/../../../themes/Gathenhielmska/assets/images/background/header_desktop.svg);
    }

    button#responsive-menu-button {
      margin-top: 15px !important;
    }
  }

  @media screen and (min-width: 1024px) {
      .navigation-under {
        display: none;
      }

      .navigation {
        height: 100px;
        display: flex;
        align-items: center;
        background-image: url(/../../../themes/Gathenhielmska/assets/images/background/header_desktop.svg);
      }


      .navigation ul li a{
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
      }
  }
