.news-container, .single-news-wrapper {

  margin-top: 101px;

  img {
    width: 320px;
    height: 185px;
    object-fit: cover;
  }

  .news-cards {
    height: 382px;
    width: calc(100vw - 40px);
    margin: 20px;
    display: flex;
    flex-direction: column;;
    flex-wrap: wrap;
  }

  .news-thumbnail {
    height: 210px;
    width: calc(100vw - 40px);
  }

  .news-content-container {
    width: calc(100vw - 40px);
    height: 172px;
    background: $blueGat;
    color: $white;
    padding: 16px;
  }

  .news-short {
    padding: 16px 0;
  }

  .read-more-container {
    width: calc(100vw - 40px);
    display: flex;
    justify-content: flex-start;

    .read-more {
      text-decoration: none;
      color: black;
    }

    .read-more-btn {
      padding: 4px 8px;
      font-size: 13px;
      line-height: 16px;
      color: $white;
      background: $light-orange;
      border: none;
    }
  }
}

.newsletter {
  background-image: url(/../../../themes/Gathenhielmska/assets/images/background/front-background.svg);
  background-size: cover;
  padding: 0 20px;
  height: 301px;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $white;

  .tnp-subscription input[type=text], .tnp-subscription input[type=email], .tnp-subscription select {
    height: 32px;
    padding: 2px 10px;
  }
  .tnp-subscription input[type=submit] {
    background: $light-orange;
    height: 24px;
    width: 59px;
    font-size: 13px;
    padding: 0;
    text-align: center;
    position: absolute;
    right: 20px;
  }
}

.single-news-wrapper {
  margin-top: 101px;

  .single-news {
    display: flex;
    flex-direction: column;
  }

  .single-news-container {
    margin: 0 20px 20px 20px;
  }

  .news-content-container {
    height: auto;
    padding: 8px;
  }

  .single-news-thumbnail {
    padding: 10px;
    width: 315px;
    height: 239px;
    object-fit: contain;
  }

  .navigation {
    display: flex;
    width: calc(100vw-40px);
    align-items: center;
    justify-content: space-between;
  }

  .single-news-cards {
    // height: 382px;
    width: calc(100vw - 40px);
    margin: 20px;
    display: flex;
    flex-direction: column;;
    flex-wrap: wrap;
  }
}
