
.news-container, .single-news-wrapper {
  margin-top: 40px;

  .news-header {
    color: $dark-orange;
    padding-left: 20px;
  }

  .arrow-back-news{
margin-left: 22px;
    img{
      width: 25px;
      height: 20px;
    }
  }

  img {
    width: 320px;
    height: 185px;
    object-fit: cover;
  }

  .news-cards {
    height: 382px;
    width: calc(100vw - 40px);
    margin: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .news-thumbnail {
    height: 210px;
    width: calc(100vw - 40px);
  }

  .news-content-container {
    width: calc(100vw - 40px);
    height: 172px;
    background: $blue;
    color: $white;
    padding: 16px;
    display: flex;
    flex-direction: column;
  }

  .news-short {
    padding: 16px 0;
  }

  .read-more-container {
    width: calc(100vw - 40px);
    display: flex;
    justify-content: flex-start;
    margin-top: auto;

    .read-more {
      text-decoration: none;
      color: black;
    }

    .read-more-btn {
      padding: 4px 8px;
      font-size: 13px;
      line-height: 16px;
      color: $blueGat;
      background: $light-orange;
      border: none;
    }
  }
}

.newsletter {
  background-image: url(/../../../themes/Gathenhielmska/assets/images/background/front-background.svg);
  background-size: cover;
  padding: 0 20px;
  height: 301px;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $white;

  .tnp-subscription input[type=text], .tnp-subscription input[type=email], .tnp-subscription select {
    height: 32px;
    padding: 2px 10px;
  }
  .tnp-subscription input[type=submit] {
    background: $gold;
    height: 24px;
    width: 59px;
    font-size: 13px;
    padding: 0;
    text-align: center;
    position: relative;
    float: right;
    color: $blueGat;
  }

  .tnp-subscription label {
    padding: 5px 0;
  }
}

.single-news-wrapper {
  margin-top: 55px;

  .single-news {
    display: flex;
    flex-direction: column;
  }

  .single-news-container {
    margin: 0 20px 20px 20px;
  }

  .news-content-container {
    height: auto;
    padding: 8px;
  }

  .single-news-thumbnail {
      width: inherit;
      height: 239px;
      object-fit: cover;
  }

  .news-navigation {
    display: flex;
    width: calc(100vw-40px);
    align-items: center;
    justify-content: space-between;

    a {
      color: $white;
    }

    a:visited {
      color: $white;
    }
  }

  .single-news-cards {
    // height: 382px;
    width: calc(100vw - 40px);
    margin: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1024px) {

  .news-container {
    margin-top: 133px;
    padding: 0 70px;

    .news-header {
      padding-left: 155px;
    }

    .testing-testing {
      display: flex;
      width: 100%;
    }

      .news-cards-rest {
        width: 100%;
        height: 527px;
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
      }

      .news-cards-reset {
        width: max-content;
      }

      .news-thumbnail-rest, .news-content-container-rest, .news-title-rest, .news-short-rest, .read-more-container-rest {
        width: 100%;
      }

      .news-content-container-rest {
        padding: 10px;
        display: flex;
        flex-direction: column;
      }

      .news-content-container-rest {
        height: 273px;
        margin-top: -10px;
      }

      .news-thumbnail-rest {
        height: 255px;
      }

      .first-news-newsletter {
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding: 0 110px;
      }
       .news-card-first {
        width: 50vw;
        height: auto;
      }


      .news-content-container-first {
        height: 240px;
        width: inherit;
        display: flex;
        flex-direction: column;
      }

      .news-thumbnail-first, .news-title-first, .news-short-first, .read-more-container-first {
        width: inherit;
        height: auto;
      }

      .read-more-container-first, .read-more-container-rest {
        margin-top: auto;
      }

    .newsletter {
      width: 20vw;
      height: 350px;
      background: $greenBlue;
    }
    }

    .single-news-wrapper {
      margin-top: 133px;
      .arrow-back-news{
        margin-left: 425px;
      }
      .single-news {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;

        .single-news-cards {
          width: 50vw;

          .single-news-thumbnail {
            width: 100%;
            object-fit: cover;
            padding: 0;
            height: 490px;
          }

          .single-news-content-container {
            width: 100%;
            height: 240px;
            display: flex;
            flex-direction: column;

            .news-navigation {
              margin-top: auto;
            }
          }
        }

      }
    }
}

