
.news-container, .single-news-wrapper {
  margin-top: 101px;

  .arrow-back-news{
margin-left: 22px;
    img{
      width: 25px;
      height: 20px;
    }
  }

  img {
    width: 320px;
    height: 185px;
    object-fit: cover;
  }

  .news-cards {
    height: 382px;
    width: calc(100vw - 40px);
    margin: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .news-thumbnail {
    height: 210px;
    width: calc(100vw - 40px);
  }

  .news-content-container {
    width: calc(100vw - 40px);
    height: 172px;
    background: $blue;
    color: $white;
    padding: 16px;
  }

  .news-short {
    padding: 16px 0;
  }

  .read-more-container {
    width: calc(100vw - 40px);
    display: flex;
    justify-content: flex-start;

    .read-more {
      text-decoration: none;
      color: black;
    }

    .read-more-btn {
      padding: 4px 8px;
      font-size: 13px;
      line-height: 16px;
      color: $white;
      background: $light-orange;
      border: none;
    }
  }
}

.newsletter {
  background-image: url(/../../../themes/Gathenhielmska/assets/images/background/front-background.svg);
  background-size: cover;
  padding: 0 20px;
  height: 301px;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $white;

  .tnp-subscription input[type=text], .tnp-subscription input[type=email], .tnp-subscription select {
    height: 32px;
    padding: 2px 10px;
  }
  .tnp-subscription input[type=submit] {
    background: $gold;
    height: 24px;
    width: 59px;
    font-size: 13px;
    padding: 0;
    text-align: center;
    position: relative;
    float: right;
    color: $blueGat;
  }
}

.single-news-wrapper {
  margin-top: 101px;

  .single-news {
    display: flex;
    flex-direction: column;
  }

  .single-news-container {
    margin: 0 20px 20px 20px;
  }

  .news-content-container {
    height: auto;
    padding: 8px;
  }

  .single-news-thumbnail {
    padding: 10px;
    width: 315px;
    height: 239px;
    object-fit: contain;
  }

  .news-navigation {
    display: flex;
    width: calc(100vw-40px);
    align-items: center;
    justify-content: space-between;
  }

  .single-news-cards {
    // height: 382px;
    width: calc(100vw - 40px);
    margin: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1024px) {
  .news-container {
    .testing-testing {
      display: flex;
      width: 100vw;
      padding: 0 60px;
    }

      .news-cards-rest, .news-card-plz-work {
        width: 30vw;
        height: 527px;
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
      }

      .news-thumbnail-rest, .news-content-container-rest, .news-title-rest, .news-short-rest, .read-more-container-rest {
        width: 30vw;
      }

      .news-content-container-rest {
        padding: 10px;
      }

      .news-content-container-rest {
        height: 273px;
        margin-top: -10px;
      }

      .news-thumbnail-rest {
        height: 255px;
      }

      .read-more-container-rest {
        position: relative;
        bottom: 10px;
      }

      .first-news-newsletter {
        display: flex;
        justify-content: space-around;
        width: 100vw;
        padding: 0 180px;
      }
       .news-card-first {
        width: 50vw;
        height: auto;
      }

      .news-thumbnail-first, .news-content-container-first, .news-title-first, .news-short-first, .read-more-container-first {
        width: inherit;
        height: auto;
      }

    .newsletter {
      width: 20vw;
      height: 350px;
      background: $greenBlue;
    }
    }
}

