.news-container {

  margin-top: 20%;

  img {
    width: 320px;
    height: 185px;
    object-fit: cover;
  }

  .news-cards {
    height: 382px;
    width: calc(100vw - 40px);
    margin: 20px;
    display: flex;
    flex-direction: column;;
    flex-wrap: wrap;
  }

  .news-thumbnail {
    height: 210px;
    width: calc(100vw - 40px);
  }

  .news-content-container {
    width: calc(100vw - 40px);
    height: 172px;
    background: $blueGathen;
    color: $white;
    padding: 16px;
  }

  .news-short {
    padding: 16px 0;
  }

  .read-more-container {
    width: calc(100vw - 40px);
    display: flex;
    justify-content: flex-start;

    .read-more {
      text-decoration: none;
      color: black;
    }

    .read-more-btn {
      padding: 4px 8px;
      font-size: 13px;
      line-height: 16px;
      color: $white;
      background: $orange;
      border: none;
    }
  }

}

.single-news {
  margin-top: 10%;

  .single-news-container {
    margin: 0 20px 20px 20px;
  }

  .single-news-thumbnail {
    padding: 10px;
    width: 315px;
    height: 239px;
    object-fit: contain;
  }

  .navigation {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
  }
}
