.navigation-event{

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
 
  div{
    padding: 6px !important;
    a{
      font-size: 14px;
    }
  }
  
  a{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: white;
  }
}
.arrow-back-single{
  margin-right: 82%;
  padding-bottom: 8px;
}
.single-post-wrapper{
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    padding-bottom: 40px;
    
  }
  
  .single-event{
    width: calc(100vw - 40px);
    background-color: $blue;
   
    .thumbnail-single{
      width: calc(100vw - 40px);
      height: 216px;
    }
  }
  
  .single-event-text {
    padding: 10px;
    color: white;
    div {
      padding: 5px 0px 5px 0px;
    }
  }
  
.upcoming{
  width: calc(100vw - 40px);
  h3{
    color: $dark-orange;
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: 600;
   
  }
}

.upcoming-title {
  margin-top: 5px;
  font-family: Lato;

  font-weight: 500;
}
.upcoming-wrapper{
  display: flex;
  justify-content: center;
}

  .upcoming-event{
   display: flex; 
   flex-direction: column;
   color: black;
   padding: 5px 0px 5px 0px;
  }
  .icon-event{
    display: flex;
    p{
      font-family: Lato;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 19px;
    }
    div {
      display: flex;
      margin:0px 3px;

    }
  img{
    margin-right: 10px;
  }
  }
  
  @media screen and (min-width: 1024px) { 
    .single-post-wrapper{
      margin-top: 101px;
    }
.arrow-back-single{
  margin-right: 96%;
}
  .single-event {
    width: calc(100vw - 600px);
    .thumbnail-single {
    width: calc(100vw - 600px);
    height: 430px;
    }
  }

  .single-page {
    display: flex;
    padding: 30px;


  }
  .upcoming{
    margin-left: 40px;
    margin-top: 131px;
  }
}