/* WordPlate */

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import './project/typography.scss';
@import './project/variables.scss';

@import './components/navigation.scss';
@import './components/menu.scss';
@import './components/contact.scss';
@import './components/info.scss';
@import './components/footer.scss';
@import './components/event.scss';
@import './components/about.scss';
@import './components/news.scss';
@import './components/front-page.scss';
@import './components/category.scss';



*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}


html {
  background: $white;
}


