/* WordPlate */

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import './project/typography.scss';
@import './project/variables.scss';

@import './components/navigation.scss';
@import './components/contact.scss';
@import './components/footer.scss';
@import './components/event.scss';



*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


html {
  background: $white;
}


