/* WordPlate */

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import './project/typography.scss';
@import './project/variables.scss';

@import './components/navigation.scss';
@import './components/footer.scss';
@import './components/event.scss';



*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


html {
  background: $bg-color;
}

.contact-wrapper {
  margin-top: 20%;
  background: $bg-color;
  font-family: 'Roboto', sans-serif;
}

.contact-main {
  margin: 20px;
}

.contact-heading {
  text-align: center;
}

.contact-paragraph {
  text-align: center;
  margin: 20px 20px 20px 0;
}

.collaborator {
  margin: 20px;
  text-align: center;

  &-name {
    font-weight: bold;
  }

  &-title {
    font-weight: light;
    font-style: italic;
  }
}

.other-actor {
  margin: 20px;
  text-align: center;

  &-title {
    font-weight: bold;
  }
}

.wp-block-ninja-forms-form {
  margin: 20px;
}

