/* WordPlate */

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navigation ul {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 20px
}

.navigation ul li a{
  color: black;
  text-decoration: none;
}

.navigation ul li a:visited {
  color: black;
}

