
$nav-color: white;
$pink: #EDC8BF;
$greenBlue: #36717B;
$blueGat: #112E33;
$blue: #1E5D76;
$dark-orange: #DC6A00;
$light-orange: #FB8D3D;
$white: #FFF8F6;

$gold: #F1E898;

@mixin Georgia {
  font-family: Georgia, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.02em;
}
