
$white: #FFF8F6;
$pink: #EDC8BF;
$darkBlue: #112E33;
$blueGathen: #12495F;
$blue: #12495F;
$orange: #E8680B;
$green: #36717B;
$gold: #F1E898;
$blue2: #1E5D76;

$bg-color: #EDC8BF;
$nav-color: white;

